* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 1365px;
  margin: 0 auto;
}
.site-header {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0px 6px 20px 0px #1a151514;
  margin-bottom: 36px;
}
nav {
  margin: 20px;
}
.top-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.left-content {
  display: flex;
  align-items: center;
}
.location-text {
  margin-right: 30px;
}
.language-text {
  margin-right: 5px;
}

.right-content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.right-content > p {
  font-family: "SF Pro Text", sans-serif;
  font-size: 14px;
  color: #19141480;
  font-weight: 500;
}
.right-content > p:hover {
  cursor: pointer;
}

/* middle wrap */
.middle-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}

.content-wrap {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.content-wrap > img {
  margin-right: 56px;
}
form {
  width: 785px;
  height: 48px;
  display: flex;
  position: relative;
}
form > input {
  flex: 1;
  border: none;
  outline: none;
  border: 3px solid #1db954;
  border-radius: 8px;
  padding: 10px 70px 10px 10px;
  font-size: 16px;
}
form > button {
  position: absolute;
  content: "";
  right: 0;
  background-color: #1db954;
  border: none;
  outline: none;
  padding: 15px 40px;
  border-radius: 0 4px 4px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
form > button:hover {
  cursor: pointer;
}

form > .fa-search {
  position: absolute;
  content: "";
  right: 185px;
  top: 16px;
  color: #888686;
}
form > .fa-search:hover {
  cursor: pointer;
}
form > img {
  position: absolute;
  content: "";
  right: 146px;
  top: 16px;
}
form > img:hover {
  cursor: pointer;
}

/* middle list */
.middle-list {
  display: flex;
}
.middle-item:not(:first-child) {
  margin-left: 20px;
}
.middle-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.middle-item > img {
  margin-bottom: 8px;
}
.middle-item:nth-child(3) > img {
  margin-bottom: 4px;
}
.middle-item:hover {
  cursor: pointer;
}
.item-wrap {
  display: flex;
  align-items: center;
}

.bottom-wrap > div > button {
  background-color: #1db954;
  border: none;
  border-radius: 8px;
  padding: 14px 16px;
  color: white;
  margin-right: 46px;
  margin-bottom: 8px;
}
.bottom-wrap > div > button:hover {
  cursor: pointer;
}
.fa-bars {
  margin-right: 5px;
}
.bottom-content-wrap {
  display: flex;
  align-items: center;
}
.bottom-list {
  display: flex;
  gap: 33px;
}
.bottom-item {
  color: #191414bf;
  font-size: 16px;
  font-weight: 500;
  font-family: "SF Pro Text", sans-serif;

  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
}
.bottom-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  left: -100%;
  bottom: 0;
  transition: all 0.3s;
}
.bottom-item:last-child {
  color: #191414;
  font-weight: 600;
}
.bottom-item:last-child:hover {
  opacity: 0.7;
}
.bottom-item:hover {
  cursor: pointer;
  color: #000;
}
.bottom-item:hover::before {
  left: 0;
}

/* credit-section */

.credit-section {
  background-image: url("../images/credit/back-img-iphones.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  /* height: 60vh; */
  height: 440px;

  position: relative;
  margin-bottom: 70px;
}
.credit-content {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.credit-content > h1 {
  margin-top: 52px;
  font-size: 55px;
  width: 543px;
  text-align: center;
  font-family: "SF Pro Text", sans-serif;
  margin-bottom: 15px;
}
.credit-content > p {
  font-size: 22px;
  width: 414px;
  font-family: "SF Pro Text", sans-serif;
  text-align: center;
}

/*  */

.slick-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 20px;

  position: absolute;
  bottom: -50px;
  left: 50%;
  right: 50%;
}

#slick-slide-control00,
#slick-slide-control01,
#slick-slide-control02 {
  background-color: #1db954;
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  content: none;
  color: transparent;
}
#slick-slide-control00:hover,
#slick-slide-control01:hover,
#slick-slide-control02:hover {
  cursor: pointer;
}

.slick-next {
  position: absolute;
  content: "";
  right: 25px;
  top: 75%;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border: none;
}
.slick-next:hover,
.slick-prev:hover {
  cursor: pointer;
}
.slick-prev {
  position: absolute;
  content: "";
  left: 25px;
  top: 75%;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border: none;
  z-index: 10;
}

/*  */
/* gadet section */

.gadget-section {
  margin-bottom: 70px;
}
.gadget {
  padding: 0 20px;
}
.gadget-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.gadget-text {
  font-size: 32px;
  font-weight: 700;
  color: #191414;
  font-family: "SF Pro Display", sans-serif;
}
.gadget-content > span {
  font-size: 16px;
  font-weight: 500;
  color: #191414;
  font-family: "SF Pro Display", sans-serif;
}
.gadget-content > span:hover,
.maybe-content > span {
  cursor: pointer;
}
.gadget-content > span > i {
  font-size: 13px;
}

.gadget-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*  */
/* maybe-section */

.maybe-section,
.interest-section {
  margin: 0 20px;
  margin-bottom: 70px;
}
.maybe-content {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}
.maybe-content > span {
  font-size: 16px;
  font-weight: 500;
  color: #191414;
  font-family: "SF Pro Display", sans-serif;
}
.maybe-content > span > i {
  font-size: 13px;
}
.maybe-text {
  font-size: 32px;
  font-weight: 600;
  font-family: "SF Pro Text", sans-serif;
}

.maybe-top-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.maybe-top-item:first-child > button {
  background-color: #1db954;
  border-radius: 4px;
  padding: 12px 16px;
  border: none;
  color: #fff;
  font-family: "SF Pro Text", sans-serif;
}

.maybe-top-item > button {
  background-color: #1db95433;
  border-radius: 4px;
  padding: 12px 16px;
  border: none;
  color: #191414;
  font-family: "SF Pro Text", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.maybe-top-item > button:hover {
  cursor: pointer;
}

/* maybe-list start*/

.maybe-warp--margin {
  margin-bottom: 40px;
}
.maybe-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.maybe-item {
  max-width: 210px;
}
.maybe-item > strong {
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}
.maybe-item > span {
  font-family: "  SF Pro Text", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #19141480;
  text-decoration: line-through;
  margin-bottom: 10px;
  display: inline-block;
}

.maybe-item > p {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #191414bf;
  margin-bottom: 10px;
}

.btn-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
}
.cart-btn > svg {
  margin-right: 12px;
}
.cart-btn {
  background-color: #1db954;
  width: 138px;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.like-btn {
  background-color: #1db954;
  width: 56px;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  color: #fff;
}
.cart-btn:hover,
.like-btn:hover {
  cursor: pointer;
}
/* maybe-list end*/

/* section start */
.interest-section {
  margin-bottom: 40px;
}
/* section end */

/* discount-section start */
.discount-section {
  /* padding: 0 20px; */
  margin-bottom: 40px;
}
.discount {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

/* discount-section end */

.interest-section--margin {
  margin-bottom: 100px;
}

/* news-section */
.news-section {
  margin: 0 20px;
  margin-bottom: 100px;
}
.news-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.news-text {
  font-family: "SF Pro Display", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
.news-content > span {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.09px;
  text-align: left;
}
.news-content > span > i {
  font-size: 12px;
}

.news-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.go-to-img {
  display: none;
}

/* brand-section */
.brand-section {
  padding: 0 20px;
  margin-bottom: 200px;
}
.brand-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.brand-text {
  font-family: "SF Pro Display", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
.brand-content > span {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.09px;
  text-align: left;
}
.brand-content > span > i {
  font-size: 12px;
}

/*  */
/* app-section */

.app-section {
  margin: 0 20px;
  margin-bottom: 200px;
}
.app {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app-content {
  width: 553px;
}
.app-title {
  font-family: "SF Pro Display", sans-serif;
  font-size: 52px;
  font-weight: 700;
}
.app-title > span {
  display: inline-block;
  font-family: "SF Pro Display", sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
  color: #1db954;
}

/* app-section */

.app-wrap {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* service-section */

.service-section {
  margin: 0 20px;
  margin-bottom: 200px;
}
.service {
  display: flex;
  /* align-items: center; */
}
.service-content {
  width: 386px;
  margin-right: 79px;
}
.service-title {
  font-family: "SF Pro Display", sans-serif;
  font-size: 34px;
  font-weight: 600;
}

.service-list {
  display: flex;
  align-items: center;
  gap: 29px;
}
.service-item {
  width: 286px;
  height: 200px;
  border-radius: 8px;
  padding: 25px;
  box-shadow: -6px 12px 44px 2px #0000000f;
}
.service-item:hover {
  box-shadow: -12px 32px 34px 0px #0000001a;
  cursor: pointer;
}
.service-item > img {
  margin-bottom: 19px;
}
.service-text {
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.service-text > span {
  color: #1db954;
}

/*  */
/* footer */

.site-footer {
  background-color: #1db954;
  /* padding: 0 20px; */
}
.footer-list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px 0 17px 20px;
  /* padding: 0 20px; */

  border-bottom: 0.5px solid #fff;
  /* padding-bottom: 40px; */
}
.footer-item > a {
  font-family: "SF Pro Text", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #f9f9f9;
}

.footer-wrap {
  padding: 15px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
}
.left-wrap > p {
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.privacy-wrap {
  width: 265px;
  text-align: end;
}

.privacy-wrap > p {
  color: #f9f9f9;
  font-family: "SF Pro Display", sans-serif;
  font-size: 10px;
}

.play-market:hover,
.app-store:hover {
  cursor: pointer;
}
