* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.left-content {
  display: flex;
  align-items: center;
}
.location-text {
  margin-right: 30px;
}
.language-text {
  margin-right: 5px;
}
